doctype html
html
    head
        title Atours
        link(rel='stylesheet'  href='css/style.css')
        link(rel='shortcut icon' type='image/png' href='img/favicon.png')
    body
        h1 hello #{developer.toUpperCase()}
        h2= tour
    //some comments mentioned in console
    //-not mentioned in console
    -const c=10;
    h3=3*c
